@font-face {
  font-family: 'Arimo Regular';
  font-style: normal;
  font-weight: normal;
  src: local('ArimoRegular'), url('./assests/fonts/Arimo-Regular.ttf') format('woff');
  font-display: swap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font: 19px / 23px ArimoRegular ,'Arimo Regular', "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}
/* Media Query */
@media (max-width: 1380px) {
  html,
  body {
    font-size: 16px;
    line-height: normal;
  }
}
